@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&family=Exo:wght@500;700&family=Rubik:wght@300;400&display=swap');

:root {
    --primary-color: #F34068   ;
    --secondary-color: #006B7F ;
    --accent1-color: #6FA9B7;
    --accent2-color: #FEFEFE;

    --heading-font: 'Duru Sans', sans-serif;
    --paragraph-font: 'Rubik', sans-serif;
  }


#content{
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #50514F;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    z-index: 100;
  }
  
  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .logo img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease-in-out;
  }
  
  .logo img:hover {
    transform: scale(1.2);
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    position: relative;
  }

  nav a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
  }

  nav a:hover::after {
    width: 100%;
  }
  
  .contact-btn {
    margin-left: auto;
  }
  
  .contact-btn a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
  }

  .main-section {
    background-image: url('/personalsitew05/imgs/abstract.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main-content {
    text-align: center;
    color: #ffffff;
  }
  
  .cta-button {
    text-decoration: none;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-size: 1.2rem;
    padding: 15px 30px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #000000;
    color: #ffffff;
  }