body{
    background-color: pink;
    text-align: center;
}

ol{
    text-align: left;
    margin-left: 35%;
}

.header{
    text-align: center;
    color: white;
    font-size: 50px;
}

.header:hover{
    color: black;
}

.general-color{
    color: white;
}

.quote{
    font-size: 25px;
    margin-left: 40%;
    margin-right: 40%;
}